<style>
  .logout{
    font-size: 18px;
    color: #e5e5e5;
  }
  .logout:hover{
    color: aqua;
  }
  .username{
    font-size: 18px;
    margin-right: 8px;
    color: #e5e5e5;
  }
  .profile-pic-nav{
		max-width: 50px;
		max-height:50px;
		margin: 0 auto;
		border-radius: 50%;
	}
</style>

{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% if request.user.is_staff %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'products' %}">Products</a>
          </li>
          {% else %}
          <li class="nav-item">
			      <img class="profile-pic-nav" src="{{request.user.customer.profile_pic.url}}" >
          </li>
          <li class="nav-item">
           <a class="nav-link" href="{% url 'accounts-settings' %}">Settings</a>
         </li>
         {% endif %}
      </ul>
    </div>
    <span class="username" >hello, {{request.user}}</span>
    <span><a class ="logout" href="{% url 'logout' %}">Logout</a></span>
  </nav>