{% extends 'accounts/main.html' %}
{% load static %}

{% block content %}
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ formset.management_form }}
                    {% for form in formset %}
                        {{form}}
                    <hr>                    
                    {% endfor %}
                    <table class="table table-sm" style="margin-bottom: 0px;">
                        <tr>
                            <th><input class="btn btn-success" type="submit" value="Submit"></th>
                            {% if group == 'admin' %}
                            <th style="text-align: right;"><a class='btn btn-info' href="{% url 'customer' formset.instance.id %}">Back</a></th>
                            {% else %}
                            <th style="text-align: right;"><a class='btn btn-info' href="{% url 'user-page' request.user.customer.name %}">Back</a></th>
                            {% endif %}
                        </tr>
                    </table>         
                </form>
            </div>
        </div>
    </div>
{% endblock content %}