{% extends 'accounts/main.html' %}
{% include 'accounts/navbar.html' %}
{% block content %}
    <br>
    <div class="row">
        <div class="col-md-11">
                <div class="card card-body font-weight-normal">
                    <h4>Password Reset Complete</h4>
                    <p>
                        Your password has been set. you may go ahead and log in now.
                    </p>
                    <a href=" {% url 'login' %} ">Login</a>
                </div>
        </div>
    </div>
{% endblock content %}