{% extends 'accounts/main.html' %}
{% include 'accounts/navbar.html' %}
{% block content %}
    <br>
    <div class="row">
        <div class="col-md-8">
                <div class="card card-body font-weight-normal">
                <h4>Enter new password</h4>
                <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
                <form method='POST'>
                    {% csrf_token %}
                    {{form.new_password1.label}}
                    {{form.new_password1}}
                    {{form.new_password2.label}}
                    {{form.new_password2}}
                    <input type="submit" class="btn btn-info" name='update password'>
                    {% if messages %}
                        {% for message in messages %}
                        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock content %}