{% extends 'accounts/main.html' %}
{% load static %}

{% block content %}
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <table class="table table-sm" style="margin-bottom: 0px;">
                        <tr>
                            <th><input class="btn btn-success" type="submit" value="Submit"></th>
                            <th style="text-align: right;"><a class='btn btn-info' href="{% url 'home' %}">Back To Dashboard</a></th>
                        </tr>
                    </table>         
                </form>
            </div>
        </div>
    </div>
{% endblock content %}